<template>

    <div id="app">
      <div style="width: 60%; float:left">
   <center>
        <div>
          <div id="circle">
          {{nomorUndian}}
          </div>
          <br>
          <h1 >Undian Ke - {{todos.length}}</h1>
          <br>
          <v-btn @click="undian(5000)" color="info"> Undian Selanjutnya </v-btn>
          <v-btn @click="clear" color="info"> Reset </v-btn>
        </div>
        </center>
      </div>

      <div style="width: 40%; float:right">
        <sideBar :msg=todos></sideBar>
      </div>
        

    </div>
</template>

<script>

import sideBar from './sideBar.vue'

export default {
  components: {
    sideBar,
  },
  props: ['jumlahPeserta'],
  data: () => ({
    headers: [
      { text: "#", value: "nomor" },
      { text: "No Undian", value: "nomorUndian" },
      { text: "Hapus", value: "" }
    ],
    value: 1000,
    duration: 1000,
    nomor: "",
    nomorUndian: "",
    todos: [],
    daftarPeserta: [],
  }),
  methods: {
      // method yang digunakan untuk mengacak nomor daftar peserta dengan waktu tertentu
     undian: function (){
      if(this.daftarPeserta.length){ // jika array daftar peserta masih ada, lakukan pengundian
        var timeleft = 5;
        this.intervalid1 = setInterval(function(){
            timeleft--;
            this.nomorUndian = this.daftarPeserta[Math.floor(Math.random()*this.daftarPeserta.length)]
            if(timeleft <= 0){
              clearInterval(this.intervalid1);
              const a = this.daftarPeserta.filter(item => item !== this.nomorUndian) // menghapus nomor yg sudah terpilih/terundi dari array daftar peserta
              this.daftarPeserta = a;
              localStorage.clear();
              localStorage.setItem('todos', JSON.stringify(a)); // set localStorage todos dengan array baru yg sudah dikurangi nomor daftar peserta terundi
              this.todos.push(this.nomorUndian); // simpan hasil undian terpilih ke array todos
            }
            
        }.bind(this), 500);
      }else{ // jika jumlah peserta 0 atau semua nomor selesai diundi
        alert("Data Jumlah Peserta Kosong/Undian Selesai");
      }
    },
    //method untuk menghapus data di local storage dan mereset semua variabel
    clear(){
      localStorage.clear();
      this.todos = []
      this.nomorUndian = 0
      this.duration = 0
    },
  },
  watch: {
    jumlahPeserta: {
    handler() {
      // membuat array undian sesuai jumlah peserta yang diinputkan
      this.daftarPeserta = (new Array(this.jumlahPeserta - 1 + 1)).fill(undefined).map((_, i) => i + 1)
    },
    deep: true,
  },
  todos: {
    handler() {
      localStorage.setItem('todos', JSON.stringify(this.todos));
      sideBar.mounted();
    },
    deep: true,
  },
},
mounted() {
  if (localStorage.getItem('todos')){//load data sesuai yg tersimpan di localStorage
    this.todos = JSON.parse(localStorage.getItem('todos'));
  } else{
    this.todos = [];
  }
},
};
</script>

<style scoped>
#app {
  margin-top: 30px;
}
.form {
  margin-top: 20px;
  margin-bottom: 50px;
}

#circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 90px;
  color: #fff;
  line-height: 180px;
  text-align: center;
  background: #ff0000
}
</style>