<template>
    <div id="side">
        <!-- menampilkan data array hasil pengundian yg disimpan di local storage browser -->
         <v-data-table
            :headers="headers"
            :items="msg"
            hide-actions
            class="elevation-1"
          >
          <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.index+1 }}</td>
              <td class="text-xs-left">{{ props.item }}</td>
              <td class="text-xs-left"> 
                <v-btn icon @click="removeTodo2(props.index)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>    
              </td>
           </template>
        </v-data-table>
    </div>
</template>

<script>

export default {
    props: ['msg'],
  data: () => ({
    headers: [
      { text: "#", value: "nomor" },
      { text: "No Undian", value: "nomorUndian" },
      { text: "Hapus", value: "" }
    ],
    todos: []
  }),
  methods: {
    removeTodo2(id) { // menghapus hasil undian sesuai index array
      this.msg.splice(id, 1);
    },
  },
  mounted() {
  if (localStorage.getItem('todos')){
      //jika localStorage todos ada, maka ditampilkan
    // data sesuai yang tersimpan di localStorage
    this.todos = JSON.parse(localStorage.getItem('todos'));
  } else{
    this.todos = [];
  }
},
};
</script>

<style scoped>
#app {
  margin-top: 30px;
}
.form {
  margin-top: 20px;
  margin-bottom: 50px;
}
#circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 90px;
  color: #fff;
  line-height: 180px;
  text-align: center;
  background: #ff0000
}
</style>