<template>
  <v-app>
    <v-toolbar app dark color="primary">
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light"><strong>APLIKASI PENGUNDIAN DOORPRIZE</strong> (Vuetify VueJs)</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- komponen UI Modal untuk menentukan jumlah peserta -->
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            color="green lighten-2"
            dark
            v-on="on"
          >
            NEW
          </v-btn>
        </template>
  
        <v-card>
          <v-card-title
            class="headline grey lighten-2"
            primary-title
          >
            Buat Doorprize Baru
          </v-card-title>
  
          <v-card-text>
            <v-text-field
            v-model="jumlahPeserta"
            label="Jumlah Peserta"
            required
          ></v-text-field>
          </v-card-text>
  
          <v-divider></v-divider>
  
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="success"
              flat
              @click="simpanJumlahPeserta(jumlahPeserta)"
            >
              Submit
            </v-btn>
            <v-btn
              color="error"
              flat
              @click="dialog = false"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
  
    <v-content>
      
      <contentPengundian :jumlahPeserta=jumlahPeserta></contentPengundian>
    </v-content>
    <v-footer
    height="auto"
    color="primary lighten-1"
  >
    <v-layout
      justify-center
      row
      wrap
    >
      <v-flex
        primary
        lighten-2
        py-3
        text-xs-center
        white--text
        xs12
      >
        &copy;2019 JMI — <strong>Choirul Fadholanii</strong>
      </v-flex>
    </v-layout>
  </v-footer>
  </v-app>
</template>

<script>
import contentPengundian from './components/content'

export default {
  name: 'App',
  components: {
    contentPengundian,
  },
  data () {
    return {
      dialog: false,
      jumlahPeserta : 0,
    }
  },
  methods: {
    simpanJumlahPeserta(jumlahPeserta){
      this.jumlahPeserta = jumlahPeserta
      this.dialog = false
    }
  },
}
</script>
